body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

.hero-section {
    background: #e9ecef;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.car-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer {
    background-color: #dee2e6;
    padding: 30px 0;
    text-align: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-brand svg {
    margin-right: 8px;
}


 /*add dark circle*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    background-size: 70%, 70%;
}