@using RentAutoApp.Web.ViewModels.Vehicles
@model List<VehicleListItemViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T

@{
	ViewData["Title"] = T["Cars"];
}

<h1 class="mb-3">@T["Cars"]</h1>

<!-- Search engine / Търсачка -->
@await Component.InvokeAsync("CarSearch")

<!-- Results (all cars by default)/ Резултати (всички автомобили по подразбиране) -->
<partial name="_VehicleGrid" model="Model" />