@using RentAutoApp.Web
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

<div class="btn-group mb-3" role="group" aria-label="Admin Panel">
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">@L["Nav.Dashboard"]</a>
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Vehicles" asp-action="Index">@L["Nav.Cars"]</a>
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Reservations" asp-action="Index">@L["Nav.Reservations"]</a>
</div>