<div class="btn-group mb-3" role="group" aria-label="Админ меню">
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Табло</a>
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Vehicles" asp-action="Index">Автомобили</a>
	<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Reservations" asp-action="Index">Резервации</a>
</div>