@model RentAutoApp.Web.ViewModels.UserPanel.ChangePasswordViewModel
@{
	ViewData["Title"] = "Смяна на парола";
}
@await Html.PartialAsync("~/Areas/User/Views/Shared/_ProfileMenu.cshtml")
<h2>Смяна на парола</h2>

<form asp-action="Password" method="post">
	@Html.AntiForgeryToken()
	<div class="mb-3">
		<label asp-for="CurrentPassword"></label>
		<input asp-for="CurrentPassword" class="form-control" />
		<span asp-validation-for="CurrentPassword" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="NewPassword"></label>
		<input asp-for="NewPassword" class="form-control" />
		<span asp-validation-for="NewPassword" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmPassword"></label>
		<input asp-for="ConfirmPassword" class="form-control" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	<button class="btn btn-primary" type="submit">Смени паролата</button>
</form>
