<div class="row g-4">
    <div class="col-md-4">
        <div class="card car-card">
            <img src="350x200" class="card-img-top" alt="VW Golf">
            <div class="card-body">
                <h5 class="card-title">VW Golf - Икономичен</h5>
                <p class="card-text">От 29 лв./ден. Идеален за градски условия.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card car-card">
            <img src="350x200" class="card-img-top" alt="Toyota Corolla">
            <div class="card-body">
                <h5 class="card-title">Toyota Corolla - Стандартен</h5>
                <p class="card-text">Комфортен за пътуване извън града, 39 лв./ден.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card car-card">
            <img src="350x200" class="card-img-top" alt="BMW 5 Series">
            <div class="card-body">
                <h5 class="card-title">BMW 5 Series - Луксозен</h5>
                <p class="card-text">За специални поводи или бизнес, 99 лв./ден.</p>
            </div>
        </div>
    </div>
</div>
